<div class="hero-image" style="background: url('/pictures/mansion.webp');">
    <a class="overlay">
        <div>
            <h1>@ViewData["Title"]</h1>
            <p></p>
        </div>
    </a>

    <!-- Pil för att skrolla ner -->
    <a href=".info" class="scroll-down">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-down"></i>
    </a>
</div>