@{
    ViewData["Title"] = "Startsida";
}

@await Html.PartialAsync("_HeroImage")


<div class="container">
    <h1>Välkommen till Mansion Monica</h1>
    <!-- Sektion för skroll till -->
    <section class="info">
        <h2>En Pärla på Djursholm</h2>
        <div class="text-container">
            <p>
                Monica, den ståtliga herrgården belägen på den exklusiva ön Djursholm, är mer än bara ett hem. Det är en
                oas av lyx och elegans, en plats där tidlös skönhet möter modern bekvämlighet. Med sin imponerande
                fasad, frodiga trädgårdar och utsikt över vattnet är Monica en sann pärla på den svenska rivieran. <br>

                Interiören är lika imponerande som exteriören. Här finner man handgjorda detaljer, exklusiva material
                och en atmosfär som andas både värme och storslagenhet. De rymliga rummen bjuder in till avkoppling och
                underhållning, och den öppna planlösningen skapar en känsla av rymd och ljus.<br><br>

                Monica är mer än bara ett hus, det är en livsstil. Här kan du njuta av det bästa som livet har att
                erbjuda, oavsett om det är en lugn stund vid poolen, en middag med vänner eller en promenad längs
                strandpromenaden.
            </p>
            <div class="fade-out"></div>
        </div>
        <button class="read-more-btn">Läs mer <i class="fa fa-chevron-down"></i></button>
    </section>


    <section class="info">
        <h2>Recensioner</h2>
        <ul >
            <li>
                <h3>Namn: Anna Svensson</h3>
                <p>Datum: 2025-02-04</p>
                <p>Betyg: ⭐⭐⭐⭐⭐⭐⭐⭐⭐ (9/10)</p>
                <p>Fantastisk upplevelse! Personalen var väldigt trevlig och rummet var rent och mysigt.</p>
            </li>
            <li>
                <h3>Namn: Erik Johansson</h3>
                <p>Datum: 2025-02-01</p>
                <p>Betyg: ⭐⭐⭐⭐⭐⭐⭐ (7/10)</p>
                <p>Väldigt bra service och fin utsikt, men frukosten kunde varit bättre.</p>
            </li>
            <li>
                <h3>Namn: Lisa Karlsson</h3>
                <p>Datum: 2025-01-28</p>
                <p>Betyg: ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐ (10/10)</p>
                <p>Helt perfekt! Kommer definitivt tillbaka nästa gång jag är i stan.</p>
            </li>
            <li>
                <h3>Namn: Johan Lindberg</h3>
                <p>Datum: 2025-01-20</p>
                <p>Betyg: ⭐⭐⭐⭐⭐⭐⭐ (7/10)</p>
                <p>Fint hotell och bra läge, men rummet var lite mindre än jag förväntat mig.</p>
            </li>
            <li>
                <h3>Namn: Emma Berg</h3>
                <p>Datum: 2025-01-15</p>
                <p>Betyg: ⭐⭐⭐⭐⭐⭐⭐⭐ (8/10)</p>
                <p>Trevlig personal och skön säng! Wi-Fi kunde dock varit snabbare.</p>
            </li>
        </ul>
    </section>

</div>