@model IEnumerable<dt191g_moment2.Models.Booking>

@{
    ViewData["Title"] = "Mina sidor";

    var bookings = Model;
}

<div>
    <h1>Mina sidor</h1>
    

    <div>
        <ul>
            @foreach (var booking in bookings)
            {
                <h3>Bokningsnamn: @booking.Name</h3>
                <h5>Email: @booking.Email</h5>
                <h5>Datum: @booking.Date</h5>
            }
        </ul>
    </div>
</div>